
<!-- Desktop Header -->

<div class="row">
  <div class="twelve columns hide-for-small">

    <div class="panel">
      <h4>Desktop</h4>

      <div class="row">
        <div class="nine columns">
          <p>I'm not selling anything!</p>
        </div>
        <div class="three columns">
          <a href="/profile" class="radius button right">Contact Us&nbsp;<i class="icon-check icon-white"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- End Desktop Header -->

<!-- Mobile Header -->

<div class="row">
  <div class="twelve columns show-for-small">

    <div class="panel">
      <h4>Mobile</h4>

      <div class="row">
        <div class="nine columns">
          <p>I'm not selling anything!</p>
        </div>
        <div class="three columns">
          <a href="/profile" class="radius button right">Contact Us&nbsp;<i class="icon-ecjz-phone icon-white"></i></a>
        </div>
      </div>
    </div>

  </div>
</div><br>

<!-- End Mobile Header -->


